{% extends "base.html" %}

{% block title %}
Clientes - Sistema Referencial
{% endblock %}

{% block content %}

<section class="container py-5">

    <div class="text-center mb-5">

        <h2 class="display-5">
            Clientes
        </h2>

        <p class="lead">
            {{ nombre_sistema }}
        </p>

        <p>
            Registro de clientes del sistema mediante Flask y Jinja2.
        </p>

    </div>


    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>
            Clientes
        </h2>

        <a
            href="{{ url_for('formulario_cliente') }}"
            class="btn btn-success">

            + Registrar Cliente

        </a>

    </div>


    <!-- MENSAJES -->

    {% with mensajes = get_flashed_messages(with_categories=true) %}

        {% if mensajes %}

            {% for categoria, mensaje in mensajes %}

                <div class="alert alert-{{ categoria }}" role="alert">

                    {{ mensaje }}

                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}


    <!-- CLIENTES -->

    {% if clientes %}

        <div class="table-responsive">

            <table class="table table-striped table-hover table-bordered">

                <thead class="table-dark">

                    <tr>

                        <th>
                            #
                        </th>

                        <th>
                            Nombre
                        </th>

                        <th>
                            Correo
                        </th>

                        <th>
                            Teléfono
                        </th>

                    </tr>

                </thead>

                <tbody>

                    {% for cliente in clientes %}

                    <tr>

                        <td>
                            {{ loop.index }}
                        </td>

                        <td>
                            {{ cliente.nombre }}
                        </td>

                        <td>
                            {{ cliente.correo }}
                        </td>

                        <td>
                            {{ cliente.telefono }}
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>


        <div class="alert alert-success text-center mt-4">

            Actualmente existen

            <strong>{{ clientes|length }}</strong>

            clientes registrados.

        </div>

    {% else %}

        <div class="alert alert-warning text-center mt-4">

            Todavía no existen clientes registrados.

        </div>

    {% endif %}


</section>

{% endblock %}